ul {
	display: flex;
}

li { 
	list-style: none;
	padding:0 20px;
	
}

a.firstlink:hover {
color:red;
}

a.secondlink:hover {
	background-color: red;
}

li a.thirdlink:active {

background-color: blue;

padding-left: 5px;
padding-right: 5px;


}



